.navall {
  background-color: rgba(92, 11, 79, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  z-index: 4;
}

.container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(
      rgba(140, 34, 119, 0.9),
      rgb(97, 9, 148, 0.9)
    ),
    url(assets/img/Alimari_Touhou_Project.jpg);
  background-position: center;
  background-size: cover;
}
.search-bar {
  opacity: 0.85;
  margin-left: 8px;
  margin-top: 5px;
}

.nav > .nav-img > div {
  display: flex;
  justify-content: center;
}

.nav-img {
  display: flex;
  justify-content: center;

  height: 150px;
  width: 200px;

  margin-top: 50px;
}
.imge {
  border-radius: 50%;
  opacity: 0.85;
}
/*.nav-img {

    background-image: url(../img/blah.jpg);
    height: 150px;
    width: 200px;
    overflow: hidden;
    border: 1px solid red;
    background-size: cover;
}
*/
.indiv {
  display: flex;
  justify-content: center;
  background-color: rgba(156, 16, 132, 0.5);
  width: 180px;
  margin-bottom: 15px;
  opacity: 0.85;
}

.links {
  margin-top: 50px;
}

.header-all {
  top: 0px;
  left: 200px;
  right: 0px;
  position: absolute;
  background-color: rgba(103, 40, 107, 0.9);
  opacity: 0.65;
  z-index: 1;
  height: 80px;
}

.header {
  color: aqua;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
}

.images > div {
  border: 3px solid rgb(44, 14, 47);
}

.images {
  position: relative;
  /* left: 39.5vw;*/
  left: 50%;
  transform: translateX(-50%);
  width: 510px;
}

.images {
  margin-top: 100px;
}

.yuri-img {
  margin-left: auto;
  margin-right: auto;

  max-width: 99.9%;
  width: 510px;
}

.yuri-img-clicked {
  margin-left: -350px;
  margin-right: auto;

  /*max-width: 99.9%;*/
  max-width: 1200px;
  width: 1200px;
}

.img-nav {
  word-wrap: break-word;
}
.image-indiv {
  display: inline-flex;
}
.info {
  word-wrap: break-word;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  border: 3px solid blue;
  width: 200px;
  /* width: 165px;
    left: 730px;
    top: 54px;
    */
}
.body {
  z-index: -1;
}
.links {
  z-index: 54;
}
.indiv {
  transition: border-bottom 0.5s;
}

.indiv:hover {
  border-bottom: 1px solid rgb(44, 14, 47);
}
.link {
  color: rgb(68, 4, 71);
}

.bottomtext {
  background-color: rgba(92, 11, 79, 0.5);
  display: inline;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
  top: 0px;
  left: 0px;
}
